{% extends "base.html" %}
{% block title %}
Log in
{% endblock %}
{% block menu %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin/">nextcodecamp.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/listcourse/">Home</a></li>
      <li><a href="/register/">Register member</a></li>
      <li class="active"><a href="/loginsys/">Log in</a></li> 
      <li><a href="/inquiry/">Contact</a></li>
    </ul>
  </div>
</nav>

{% endblock %}

{% block content %}
{% csrf_token %}
<div class="center" style="width:400px;border:thin solid grey;padding:30px">
<form action="/loginsys/" method="POST">
    {% csrf_token %}
{% for field in form %}
    <div style="margin:30px;">
        {{ field.errors }}
        {{ field.label_tag }}<br/> 
        {{ field }}
    </div>
{% endfor %}
   <div class="center" style="margin:30px; width:400px"> <input type="submit" value="Login"></div>
</form>
</div>
{% endblock %}
