{% extends "base.html" %}
{% block title %}
Ask us
{% endblock %}
{% block menu %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin/">nextcodecamp.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/listcourse/">Home</a></li>
      <li><a href="/register/">Register member</a></li>
      <li><a href="/loginsys/">Log in</a></li> 
      <li class="active"><a href="/inquiry/">Contact</a></li>
    </ul>
  </div>
</nav>

{% endblock %}


{% block content %}
{% csrf_token %}
<h1 align="center">Ask Us</h1>

<div class="center" style="width:700px;border:thin solid grey">
<form action="/inquiry/" method="POST">
    {% csrf_token %}
{% for field in form %}
    <div style="margin:30px;width:700px">
        {{ field.errors }}
        {{ field.label_tag }}<br/> 
        {{ field }}
    </div>
{% endfor %}
   <div style="margin:30px;width:700px"> <input type="submit" value="Submit"></div>
</form>
</div>
{% endblock %}
