{% extends "base.html" %}
{% load static %}
{% block title %}
Edit Online Course  to nextcodecamp e-learning
{% endblock %}
{% block menu %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin/">nextcodecamp.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/listcoursemem/">Home</a></li>
      <li><a href="/memberpage/">My learning</a></li>
      <li class="active"><a href="/listcreatedcourse/">My course</a></li>
      <li><a href="/logoutsys/">Log out</a></li> 
    </ul>
  </div>
</nav>

{% endblock %}
{% block content %}
{% csrf_token %}
<h1 align="center">Edit Online Course</h1>
<div class="center" style = "width:500px; border:thin solid grey">
<h4 align="left"><div>
  <a href="/listcreatedcourse/"> &nbsp;&nbsp; Back </a> 
</div></h4>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  {{  form.non_field_errors }}

<div class="fieldWrapper" style="margin:30px; width:500px">
    {{ form.title.errors }}
    <label for="{{ form.title.id_for_label }}">Title:</label><br/>
    {{ form.title }}
</div>
<div class="fieldWrapper center" style="margin:30px;width:500px">
<label for="{{ form.cover.id_for_label }}">Cover:</label><br/>
   <img src={% static 'course.png' %} width="80" height = "80"/>
</div>
<div class="fieldWrapper center" style="margin:30px;width:500px">
    {{ form.briefdetail.errors }}
    <label for="{{ form.briefdetail.id_for_label }}">Brief detail:</label><br/>
    {{ form.briefdetail}}
</div>

<div class="fieldWrapper center" style="margin:30px;width:500px">
    {{ form.saleprice.errors }}
    <label for="{{ form.saleprice.id_for_label }}">Saleprice:</label><br/>
    {{ form.saleprice}}
</div>
   <div class="center" style="width:500px;margin:30px" > <input type="submit" value="Save course"  class="btn btn-default"></div>

</form>

</div>
</div>
{% endblock %}